SERVER_PORT=8081
MYSQL_URL=jdbc:mysql://127.0.0.1:3306/hmdp?useSSL=false&serverTimezone=UTC
MYSQL_USERNAME=root
MYSQL_PASSWORD=
REDIS_HOST=127.0.0.1
REDIS_PORT=6379
REDIS_PASSWORD=
ROCKETMQ_NAME_SERVER=127.0.0.1:9876
ROCKETMQ_PRODUCER_GROUP=neargo-seckill-producer
SECKILL_CONSUMER_ENABLED=true
SECKILL_ORDER_TOPIC=seckill-order-topic
SECKILL_ORDER_CONSUMER_GROUP=seckill-order-consumer
ORDER_TIMEOUT_TOPIC=order-timeout-topic
ORDER_TIMEOUT_CONSUMER_GROUP=order-timeout-consumer
ORDER_TIMEOUT_DELAY_LEVEL=5
